<mat-toolbar color="primary">
  <span>Expense Calculator</span>
</mat-toolbar>
<div>
  <button
    *ngFor="let year of years$ | async"
    mat-button
    (click)="onYearClick(year)"
  >{{ year }}</button>
</div>
<div>
  <button
    mat-button
    *ngFor="let month of months$ | async"
    (click)="onMonthClick(month)"
  >{{ month }}</button>
</div>
<div>
  <app-add-product></app-add-product>
  <button mat-raised-button color="primary" (click)="onSubmit()">Import CSV</button>
  <input type="file" id="csvFile">
</div>
