// breackpoints
$beackpoint__sm: 320px;
$beackpoint__sm_l: 480px;
$beackpoint__md_s: 620px;
$beackpoint__md: 768px;
$beackpoint__md_m: 992px;
$beackpoint__md_l: 1024px;
$beackpoint__lg_s: 1080px;
$beackpoint__lg: 1280px;
$beackpoint__lg_l: 1440px;
